*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar {
    width: 80%;
    height: 4rem;
    background-color: rgb(7, 208, 121);
    margin-bottom: 20px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}
.fa-solid {
    color: #000(12, 1, 1, 1, 3, 3);
    margin-right: 10px;
}

.header {
    width: 80%;
    height: 100px;
    background-color: rgb(9, 165, 144);
    margin-bottom: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar p {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .navbar ul {
    display: flex;
    list-style: none;
  }
  .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 7px 15px;
  }
  .navbar ul li a:hover {
    background-color: white;
    color: rgb(9, 165, 144);
    border-radius: 3px;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
p.border_tebal3 {
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(9, 165, 144);
}
/* .sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(252, 252, 252);
    border: 50vh;
} */
label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
  }
  label:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: 0.4s;
  }
  label.active:before {
    left: 24px;
    background: white;
  }
  body.night {
    background: #000;
    color: white;
  }